<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="/register.css" rel="stylesheet"></link>
        <title>Tesla - Register</title>
        <div id="logo_bar"><img id="logo" src="Tesla-logo.png" alt="Tesla"></div>
    </head>
    <body>
        <div id="login">
            <h3 id="heading">Create an Account</h3>
            <form action="/register" method="POST">
                <input type="text" id="name" name="name" placeholder="Name">
	            <input type="text" id="email" name="email" placeholder="Email">
	            <input type="password" id="password" name="password" placeholder="Password">
	            <input type="submit" id="regbtn" value="Register">
            </form>
        </div>
        <div id="shadow">
            <img id="content" src="teslamodels.png" alt="Tesla">
        </div>
    </body>
</html>